{% extends "base_public.html" %}
{% load i18n forms %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block main %}
  <h1>{% trans "Reset password" %}</h1>
  <p>{% trans "Enter the email for your account and we'll send a link to set a new password." %}</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "forms/_errors.html" %}
    {% field form.email %}
    {% trans "Send reset link" as submit_label %}
    {% submit submit_label %}
  </form>

  <p><a href="{% url 'core:login' %}">{% trans "Back to sign in" %}</a></p>
{% endblock %}
